/* jumbotron*/
.jumbotron{
    color:#fff;
    font-weight: 400;
    background: url(../img/pexels-thorsten-technoman-338504.jpg);
    background-size: 100% 100%;
    margin-top: 57px;
   
}
/*cards*/
.card{
    margin:5px;
}


.btn-reserva{
    width: 100%;

}
/*formulario contacto*/
form{
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: #fff;
    background-color:#ff1444 ;
}
/*footer*/
footer{
    padding: 10px ;
    background-color:#ff1444;
    color: #fff;    
}
footer a{
    color: #fff;
}



